.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e3e3;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 44px;
  background-color: #cbdcff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 0px;
}

@media (max-width: 425px) {
  .header__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 6px 15px;
  }
}

.header__image {
  height: 28px;
  width: 30px;
}

.header__image > img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media (max-width: 480px) {
  .header__image {
    display: none;
  }
}

.header__text {
  color: #0f1a34;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 425px) {
  .header__text {
    max-width: 260px;
    white-space: nowrap;
    font-size: 12px;
    overflow: auto;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0px;
  position: relative;
}

.header__row::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e0e3e3;
}

.header__logo {
  max-width: 150px;
  max-height: 21px;
  margin: 0px 10px 0px 0px;
}

.header__logo > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__input {
  margin: 0px 24px 0px auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  border: 1px solid #e0e3e3;
  border-radius: 4px;
  padding: 11px 10px 11px 52px;
  position: relative;
}

.header__input > input {
  width: 100%;
}

.header__input > button {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .header__input {
    padding: 11px 10px 11px 32px;
    margin: 0px 0px 0px auto;
  }
  .header__input > button {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
}

.header__icon {
  display: none;
}

@media (max-width: 768px) {
  .header__icon {
    display: block;
    position: absolute;
    top: -30px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .header__icon span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header__icon span:first-child {
    top: 0px;
  }
  .header__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }
  .header__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
}

@media (max-width: 480px) {
  .header__icon {
    top: -25.5px;
    right: -5px;
    width: 25px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons > *:not(:last-child) {
  margin: 0px 24px 0px 0px;
}

@media (max-width: 768px) {
  .header__buttons {
    position: fixed;
    top: 0;
    right: -200%;
    width: 22.85rem;
    height: 100%;
    z-index: 2;
    background-color: #b9c6e6;
    overflow: auto;
    padding: 60px 0px;
    -webkit-transition: right 0.6s ease 0s;
    transition: right 0.6s ease 0s;
    display: block;
  }
  .header__buttons > *:not(:last-child) {
    margin: 0px auto 25px auto;
  }
  .header__buttons.menu_open {
    right: 0%;
  }
}

.header__button > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding: 10px 20px;
  min-width: 128px;
  white-space: nowrap;
  line-height: 1.5;
  background-color: #2d3132;
  color: #ffffff;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__button > button:hover {
  background-color: #070a11;
}

@media (max-width: 768px) {
  .header__button > button {
    margin: 0 auto 25px auto;
  }
}

@media (max-width: 768px) {
  .header__language {
    text-align: center;
  }
}

.header__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0px;
  min-width: 162px;
}

.header__pages > *:not(:last-child) {
  margin: 0px 23px 0px 0px;
}

@media (max-width: 768px) {
  .header__pages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__page {
  position: relative;
}

.header__page > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -8px;
  right: -7px;
  font-size: 10px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  padding: 4px;
  background-color: #EFF1F1;
}

.header__page > span.red {
  background-color: #FF5449;
  color: #FFFFFF;
}

.header__page-profile {
  width: 32px;
  height: 32px;
}

.header__page-profile > a > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__link {
  width: 21px;
  height: 19px;
}

.header__link > svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__nav {
  overflow: auto;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  font-size: 13px;
  white-space: nowrap;
  letter-spacing: 0.4px;
  color: #444748;
  line-height: 1.5;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.list__link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2d3132;
}

.list__link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2d3132;
}

.main {
  padding: 2.28rem 0 8rem 0;
}

@media (max-width: 992px) {
  .main {
    padding: 2.28rem 0 5rem 0;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 2rem 0 3rem 0;
  }
}

.main__route {
  font-size: 0.85rem;
  line-height: 1.5;
  margin: 0px 0px 40px 0px;
}

.main__route > span {
  color: #747778;
}

.main__title {
  font-size: 2rem;
  margin: 0px 0px 32px 0px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .main__row {
    display: block;
  }
}

.main__column-filters {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20.86%;
          flex: 0 1 20.86%;
}

.main__column-catalog {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 79.14%;
          flex: 1 1 79.14%;
}

.column-main {
  margin: 0px 24px 0px 0px;
}

@media (max-width: 768px) {
  .column-main {
    margin: 0px 0px 15px 0px;
  }
}

.column-main__button {
  color: #5c5f60;
  font-size: 22px;
  background-color: transparent;
  margin: 0px 0px 25px 0px;
  line-height: 1.5;
  cursor: default;
  position: relative;
}

.column-main__button > svg {
  display: none;
}

@media (max-width: 768px) {
  .column-main__button {
    cursor: pointer;
    margin: 0px 0px 15px 0px;
  }
  .column-main__button > svg {
    display: block;
    position: absolute;
    right: -25px;
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
    -webkit-transition: -webkit-transform 0.4s ease 0s;
    transition: -webkit-transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s;
    transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  }
  .column-main__button._active > svg {
    -webkit-transform: translate(0, -50%) rotate(180deg);
            transform: translate(0, -50%) rotate(180deg);
  }
}

.column-main__filter:not(:last-child) {
  margin: 0px 0px 2px 0px;
}

.column-main__btn {
  padding: 16px 24px;
  text-align: left;
  width: 100%;
  line-height: 1.5;
  position: relative;
}

.column-main__btn > svg {
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.column-main__btn._active > svg {
  -webkit-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.column-main__range {
  margin: 0px 0px 25px 0px;
}

.column-main__range.ui-slider {
  position: relative;
  background: #C4C7C7;
  height: 4px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px white;
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px white;
}

.column-main__range > .ui-slider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #5C5F60;
  border-radius: 4px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.column-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -12px;
}

.column-main__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 120px;
  padding: 0 12px;
}

.column-main__cost {
  font-size: 12px;
  color: #2D3132;
  position: relative;
  padding: 0px 0px 13px 0px;
}

.column-main__cost::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c7c7;
}

.column-main__cost > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  line-height: 1.5;
  color: #747778;
}

.column-main__value {
  margin: 8px 0px 0px 0px;
  font-size: 12px;
  line-height: 1.5;
}

.column-main__category {
  padding: 24px;
  border: 1px solid #eff1f1;
}

.catalog-column__sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  margin: 0px 0px 27px auto;
  color: #5c5f60;
}

.catalog-column__sorting > span {
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.5;
  padding: 0px 12px 0px 0px;
}

.catalog-column__sorting::after {
  content: "";
  z-index: 2;
  position: absolute;
  width: 1px;
  height: 100%;
  right: 50px;
  top: 0;
  background-color: #fff;
}

@media (max-width: 768px) {
  .catalog-column__sorting {
    margin: 0px 0px 15px 0px;
  }
}

.catalog-column__clothing {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 312px));
  margin: 0px 0px 56px 0px;
}

@media (max-width: 992px) {
  .catalog-column__clothing {
    margin: 0px 0px 20px 0px;
  }
}

.catalog-column__article {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 263px 1fr;
  -ms-grid-columns: 1fr;
      grid-template: 263px 1fr / 1fr;
  padding: 45px 24px 24px;
  border: 1px solid #eff1f1;
  position: relative;
}

.catalog-column__article > .catalog-column__like {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.catalog-column__img {
  max-width: 207px;
  max-height: 263px;
  margin: 0 auto;
}

.catalog-column__img > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.catalog-column__character {
  font-size: 10px;
  line-height: 1.5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
  -ms-grid-columns: 1fr;
      grid-template: auto auto 1fr auto / 1fr;
}

.catalog-column__vogue {
  text-transform: uppercase;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #b4fff0;
  margin: 0px 0px 20px 0px;
}

.catalog-column__vogue.disabled {
  visibility: hidden;
}

.catalog-column__brand {
  text-transform: uppercase;
  font-weight: 500;
  color: #5c5f60;
}

.catalog-column__description {
  font-size: 14px;
  margin: 0px 0px 26px 0px;
}

.catalog-column__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-column__column-price {
  margin: 0px 10px 0px 0px;
}

.catalog-column__cost {
  text-decoration: line-through;
  color: #747778;
  font-size: 12px;
}

.catalog-column__discount {
  font-size: 14px;
  font-weight: 500;
}

.catalog-column__column-seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.catalog-column__location {
  text-align: right;
  font-size: 12px;
  position: relative;
  padding: 0px 0px 0px 4px;
  margin: 0px 0px 4px 0px;
}

.catalog-column__location::before {
  content: url("../img/icons/location.svg");
  position: absolute;
  top: 2px;
  left: -10px;
  width: 12px;
  height: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-column__name {
  font-size: 14px;
}

.catalog-column__name > img {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 0px 8px 0px 0px;
}

.catalog-column__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-item {
  margin: 0px 8px 0px 0px;
}

.page-item.active > .page-link {
  border-color: #2d3132;
  font-weight: 500;
}

@media (max-width: 768px) {
  .page-item {
    display: none;
  }
  .page-item.active {
    display: block;
  }
}

.prev {
  margin: 0px 8px 0px 0px;
}

.page-link,
.page-button {
  color: inherit;
  padding: 7px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #c4c7c7;
  font-size: 12px;
  line-height: 1.5;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.page-link:hover,
.page-button:hover {
  border-color: #414445;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-check:not(:last-child) {
  margin: 0px 0px 14px 0px;
}

.form-check-input {
  width: 17px;
  height: 17px;
  z-index: 0;
  visibility: hidden;
  position: relative;
}

.form-check-input::after {
  content: "";
  position: absolute;
  visibility: visible;
  width: 17px;
  height: 17px;
  border: 1px solid #c4c7c7;
  border-radius: 3px;
}

.form-check-input:checked::before {
  content: url("../img/icons/select.svg");
  position: absolute;
  visibility: visible;
}

.form-check-input:checked::after {
  border: none;
}

.form-check-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 16px;
  line-height: 1.5;
  color: #444748;
}

.form-check-label > span {
  color: #747778;
}

.form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #eff1f1;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 12px;
  border: none;
  background-image: url("../img/icons/arrow.svg");
  background-size: 10px 10px;
  background-position: 97% 50%;
  background-repeat: no-repeat;
}

.footer {
  background-color: #eff1f1;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 72px 0px;
}

@media (max-width: 1024px) {
  .footer__row {
    padding: 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer__row {
    padding: 30px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

@media (max-width: 1024px) {
  .footer__menu {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 768px) {
  .footer__menu {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 768px) {
  .footer__download {
    margin: 0px 0px 20px 0px;
  }
}

.footer__title {
  line-height: 1.5;
  margin: 0px 0px 0.85em 0px;
}

.footer__link {
  width: 9.1rem;
  height: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link > .footer__market,
.footer__link .footer__market > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.footer__copyright {
  padding: 38px 0px;
  position: relative;
}

.footer__copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #c4c7c7;
}

@media (max-width: 768px) {
  .footer__copyright {
    padding: 20px 0px;
  }
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .menu-footer {
    display: block;
  }
}

.menu-footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.menu-footer__column:not(:last-child) {
  margin: 0px 24px 0px 0px;
}

.menu-footer__btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-footer__btn {
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    position: relative;
  }
  .menu-footer__btn::after {
    content: url("../img/icons/arrow.svg");
    position: absolute;
    top: 0px;
    right: -20px;
    width: 15px;
    height: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.menu-footer__btn._active ~ .menu-footer__list {
  padding: 0px 0px 10px 0px;
}

.menu-footer__link {
  color: #2d3132;
  line-height: 1.5;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.menu-footer__link:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
